# Relatório de Análise VII

## Criando Agrupamentos

In [4]:
import pandas as pd

In [5]:
dados = pd.read_csv('aluguel_residencial.csv', sep = ';')

In [6]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,42.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,70.00,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento

In [7]:
dados['Valor'].mean()

5159.318636548821

In [8]:
bairros = ['Barra da Tijuca', 'Copacabana', 'Ipanema', 'Leblon', 'Botafogo', 'Flamengo', 'Tijuca']
selecao = dados['Bairro'].isin(bairros)
dados = dados[selecao]

In [9]:
dados['Bairro'].drop_duplicates()

0          Copacabana
5     Barra da Tijuca
15             Tijuca
19            Ipanema
23           Botafogo
27             Leblon
79           Flamengo
Name: Bairro, dtype: object

In [10]:
grupo_bairro = dados.groupby('Bairro')

In [11]:
for bairro, dados in grupo_bairro: 
    print(bairro)

Barra da Tijuca
Botafogo
Copacabana
Flamengo
Ipanema
Leblon
Tijuca

In [12]:

for bairro, dados in grupo_bairro: 
    print('{} -> {}'.format(bairro, dados.Valor.mean()))

Barra da Tijuca -> 7089.933523021211
Botafogo -> 9328.872881355932
Copacabana -> 4137.687429218573
Flamengo -> 4146.934265734266
Ipanema -> 9525.7616638561
Leblon -> 8791.985714285714
Tijuca -> 2133.7865470852016

In [13]:
grupo_bairro['Valor'].mean()

Bairro
Barra da Tijuca    7089.933523
Botafogo           9328.872881
Copacabana         4137.687429
Flamengo           4146.934266
Ipanema            9525.761664
Leblon             8791.985714
Tijuca             2133.786547
Name: Valor, dtype: float64

In [14]:
grupo_bairro[['Valor', 'Condominio']].mean().round(2)

                   Valor  Condominio
Bairro
Barra da Tijuca  7089.93     3588.23
Botafogo         9328.87      905.31
Copacabana       4137.69     1147.00
Flamengo         4146.93     1100.61
Ipanema          9525.76     2230.64
Leblon           8791.99     2104.63
Tijuca           2133.79      702.12